# --- Postgres (used by docker-compose to init the DB container) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=eiQBfvHWfKOAZnwjbaWDqpxmdbhdoRfZ
POSTGRES_DB=railway
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:eiQBfvHWfKOAZnwjbaWDqpxmdbhdoRfZ@postgres.railway.internal:5432/railway

JWT_SECRET=587f7cfa87accd63370db62558992dad78075de4bb35c026bce58be602ec74c9
JWT_EXPIRES_IN=7d

# --- Redis (used by docker-compose to expose the port) ---
REDIS_PORT=6379
REDIS_URL=redis://default:NLTEmPQrenzZMbwgyAJPDPggahBDaRNS@redis.railway.internal:6379

CLOUDINARY_CLOUD_NAME=piyush-kumar
CLOUDINARY_API_KEY=752264591922415
CLOUDINARY_API_SECRET=gCtOrVhl1Y4oVOG6iU5_dRXHbPo
GOOGLE_VISION_API_KEY=AIzaSyBJmpZabaP6ByPiUmnBYo3_Km3GXe4VttU
