DATABASE_URL=postgresql://mediauser:abhi123@postgres:5432/media_pipeline
REDIS_URL=redis://redis:6379
HF_API_KEY=hf_xxxxxxxxxxxxxxxxxxxxx
HF_MODEL=Salesforce/blip-image-captioning-base
GOOGLE_VISION_API_KEY=AI_xxxxxxxxxxxxxxxxxxxxx