PORT=4000
DATABASE_URL=postgresql://mediauser:abhi123@postgres:5432/media_pipeline
JWT_SECRET=587f7cfa87accd63370db62558992dad78075de4bb35c026bce58be602ec74c9
JWT_EXPIRES_IN=7d

REDIS_URL=redis://redis:6379
UPLOAD_DIR=/app/uploads