# Server
PORT=4000

# Database
DATABASE_URL=postgresql://postgres:eiQBfvHWfKOAZnwjbaWDqpxmdbhdoRfZ@postgres.railway.internal:5432/railway

# Auth
JWT_SECRET=587f7cfa87accd63370db62558992dad78075de4bb35c026bce58be602ec74c9
JWT_EXPIRES_IN=7d

# Redis
REDIS_URL=rediss://default:gQAAAAAAAlujAAIgcDJmMDQ1NmUwODQ4ZGU0ZTRiOGFiMDViMTc2ZTdhOWMwYg@super-silkworm-154531.upstash.io:6379
